body {
    background-image: url(../img/Background-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100%;
    margin: 0;
}

h1 {
    color: rgb(65, 155, 146);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(16, 236, 189);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

#banner img{
    padding-top: 50px;
    padding-left: 60px;
}

#banner nav {
    padding-bottom: 140px;
}



#banner nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#banner nav ul li {
    display: inline-block;
    width: 180px;
    text-align: center;
}

#banner nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(65, 155, 146);
    font-size: 12;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 30px;
    display: block;
}

#banner nav ul li a:hover {
    transform: 1.0;
    background:rgb(65, 155, 146);
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px rgb(65, 155, 146);
}


#Sobre {
   position: relative;
   justify-content: center;
   align-content: center; 
   margin-left: 10%;
   width: 80%;
   height: 1800px;
   border: solid 2px;
   border-radius: 25px ;
   border-color: rgb(65, 155, 146);
   margin-bottom: 50px;
}

.transladoPradireita {
   display: none;
}

#Sobre h1 {
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(65, 155, 146);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

#Sobre h2 {
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(65, 155, 146);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

#Sobre h3 {
    margin-left: 30px;
    margin-right: 30px;
}

#Sobre h4 {
    margin-left: 30px;
    margin-right: 30px;
}

#Sobre p {
    margin-left: 30px;
    margin-right: 30px;
}

#Sobre a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(65, 155, 146);  
}

#Sobre img{
   align-items: center; 
}

.empresa {
    color: rgb(16, 236, 189);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}

.cargo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: justify;
}  

#Portfolio {
    margin-left: 10%;
    width: 80%;
}

.galeria{
    position: relative;
    margin-right: 500px;
    margin-bottom: 100px;
}

.miniatura{
    position: relative;
}

.miniatura img{
    border: 1px solid white;
    margin: 0 5px 5px 0;
}

.miniatura:hover{
    background-color: transparent;
}

.miniatura:hover{
    border: 1px solid blue;
}

.miniatura span{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightyellow;
    padding: 5px;
    left: -1000px;
    border: 1px dashed gray;
    visibility: hidden;
    color: black;
    text-decoration: none;
}

.miniatura span img{
    border-width: 0;
    padding: 2px;
}

.miniatura:hover span{
    visibility: visible;
    top: -600px;
    left: 300px;
    z-index: 50;
}

#Contato {
    position: relative;
    margin-left: 10%;
    width: 40%;
}

#Contato h1 {
    font-size: x-large;
}

#Contato a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    color: rgb(65, 155, 146) ;
    width: 30%;
}

#copyright {
    background-color: rgb(65, 155, 146);
    height: 100%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

#copyright img{
    padding-top: 0px;
}

#copyright p{
    text-align: center;
    font-size: x-large;
}
